html {
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#contact {
    label {
        display: block;
    }
    input,
    textarea { 
        font-family: 'Quicksand', Arial, Helvetica, sans-serif;
        display: block;
        width: 100%;
        border-radius: 1rem;
        padding: 12px;
        border: 2px solid #eeeeee;
    }
    button {
        margin-top: 1.5rem;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        padding: 12px;
        width: 100%;
        border-radius: 10rem;
        border: 1px solid #f7f7f7;
        background-color: #20bf7e;
        cursor: pointer;
    }
}