{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <p class="bio">
      I am a business-oriented developer with <span id="expYrs"></span>+ years of personal and professional experience with multiple programming languages and tech stacks; I majored in network security and have experience in various industries, including blockchain, cryptocurrency, e-commerce and the music industry.
    </p>

    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
